html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS Styling Begins */

body {
  font-family: sans-serif;
}

/* Top (high score/timer) container styling begins */

.container-top {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.timer {
  margin-right: 45px;
  font-size: 14px;
}

.high-score {
  margin-left: 45px;
  text-decoration: none;
  color: violet;
  font-size: 14px;
}

/* Top container styling ends */

/* Main (quiz content) container styling begins */

.wrapper {
  margin: 0 auto;
  height: 700px;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-main {
  display: flex;
  flex-direction: column;
  height: 30vh;
}

.container-main h1 {
  font-size: 38px;
  font-weight: bold;
}

.container-main p {
  font-size: 22px;
  line-height: 1.5;
  margin: 10px 0 10px 0;
}

.container-main button {
  padding: 8px 12px 8px 12px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  background-color: #241654;
  color: white;
  font-size: 20px;
}

.container-main button:hover {
  background-color: violet;
}

.answer-button {
  align-self: flex-start;
  width: 200px;
  text-align: start;
}

.answer-style {
  border-top: 1px solid grey;
  align-self: flex-start;
  text-align: left;
  width: 100%;
  font-size: 38px;
  font-style: italic;
  color: grey;
  margin-top: 22px;
  font-size: 28px;
  padding-top: 10px;
}

.start-button {
  width: 50%;
  align-self: center;
}
