/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS Styling Begins */

/* Variables */
:root {
  --main-button-color: #241654;
  --button-hover-color: violet;
}

button:not(.high-score-button):hover {
  background-color: var(--button-hover-color);
}

* {
  font-family: sans-serif;
}

h1 {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: bold;
}

/* Header Styling Begins */

header {
  display: flex;
  justify-content: space-between;
}

.high-score {
  margin: 20px 0 0 40px;
}

.high-score button {
  background-color: white;
  color: var(--button-hover-color);
  border-style: none;
  font-size: 16px;
  font-weight: bold;
}

.timer-container {
  margin: 20px 40px 0 0;
  font-weight: bold;
}

/* Header Styling Ends */

/* Home Container Styling Starts */

.home-container {
  width: 30%;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-container p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.start-button {
  width: 150px;
  align-self: center;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  font-size: 18px;
  background-color: var(--main-button-color);
  color: white;
}

/* Home Container Styling Ends */

/* Quiz Container Styling Starts */

.quiz-container {
  height: 600px;
  width: 30%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.quiz-container button {
  display: flex;
  width: 250px;
  background-color: var(--main-button-color);
  color: white;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  font-size: 18px;
  margin: 10px 0 10px 0px;
  text-align: left;
}

.question-title {
  font-size: 32px;
  font-weight: bold;
  align-self: flex-start;
}

.answer-span {
  font-size: 24px;
  font-style: italic;
  text-align: left;
  border-top: 1px solid grey;
  color: grey;
  width: 100%;
  height: 0;
}

/* Quiz Container Styling Ends */

/* End Game Container Styling Begins */

.end-container {
  height: 600px;
  width: 30%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.end-container p {
  font-size: 20px;
  margin-bottom: 10px;
}

form {
  margin-top: 10px;
}

label {
  font-size: 24px;
  vertical-align: baseline;
}

#initial-submit {
  background-color: var(--main-button-color);
  border-style: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  color: white;
  width: 90px;
}

#initials {
  height: 34px;
  width: 300px;
}

/* End Game Container Styling Ends */

/* High Score Container Styling Begins */

.score-container {
  height: 600px;
  width: 30%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.score-container p {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #b19cd9;
  font-size: 20px;
}

.go-back-btn,
.clear-btn {
  background-color: var(--main-button-color);
  border-style: none;
  border-radius: 15px;
  padding: 10px;
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

/* High Score Styling Ends */
