html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS Styling Begins */

* {
  font-family: sans-serif;
}

/* Header Styling Begins */

header {
  display: flex;
  justify-content: space-between;
}

.high-score {
  margin: 20px 0 0 40px;
}

.high-score button {
  background-color: white;
  color: violet;
  border-style: none;
  font-size: 16px;
  font-weight: bold;
}

.timer-container {
  margin: 20px 40px 0 0;
  font-weight: bold;
}

/* Header Styling Ends */

/* Home Container Styling Starts */

.home-container {
  width: 30%;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-container h1 {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: bold;
}

.home-container p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.start-button {
  width: 150px;
  align-self: center;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  font-size: 18px;
  background-color: #241654;
  color: white;
}

.start-button:hover {
  background-color: violet;
}

/* Home Container Styling Ends */

/* Quiz Container Styling Starts */

.quiz-container {
  height: 600px;
  width: 30%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.quiz-container button {
  display: flex;
  width: 250px;
  background-color: #241654;
  color: white;
  border-radius: 15px;
  border-style: none;
  padding: 15px;
  font-size: 18px;
  margin: 10px 0 10px 0px;
  text-align: left;
}

.quiz-container button:hover {
  background-color: violet;
}

.question-title {
  font-size: 32px;
  font-weight: bold;
  align-self: flex-start;
}

.answer-span {
  font-size: 24px;
  font-style: italic;
  text-align: left;
  border-top: 1px solid grey;
  color: grey;
  width: 100%;
  height: 0;
}

/* Quiz Container Styling Ends */

/* End Game Container Styling Begins */

.end-container {
  height: 600px;
  width: 30%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
